# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/**/migration_lock.toml

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Uploads (archivos subidos por usuarios)
uploads/

# Firebase
firebase-service-account.json
